body, #mainWrapper {
	height: 70%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
    text-align: right;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
    margin-bottom: 10px;
}

.tablecontainer{
	padding-left: 20px;
}

.generic-container {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

.msg_log{
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 0 10px black;
    margin-bottom: 10px;
}

.msg_log thead {
    width: 97%;
}
.msg_log tbody {
    height: 270px;
    overflow-y:scroll;
    width: 100%;
}

.msg_log thead, .msg_log tbody, .msg_log tr, .msg_log td, .msg_log th {
    display: block;
}

.custom-width {
    width: 80px !important;
}

